{{ define "content_index" }}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">元宝树后台管理</a>
      </div>
      <!-- <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Dashboard</a>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div> -->
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active">
            <a href="/">信息概览
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="../../action/statistics/">行为日志统计</a>
          </li>
          <li>
            <a href="../../redbag/statistics/">红包发放统计</a>
          </li>
          <li>
            <a href="../../withdraw/card/">提现卡补卡</a>
          </li>
          <li>
            <a href="../../ball/info/">能量球重置</a>
          </li>
        </ul>
      </div>


      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row" style="margin-left: 4px;">
          
          <div class="jumbotron">
            <h2><span style="background-color: #eee; color:black;" class="label label-default">元宝树总用户数: </span> <span id="total_count" class="label label-success"></span></h2>
            <p> <span style="margin-left:13px;font-size: 16px;">统计时间段: 2018-05-23 至今</span></p>
          </div>

          <p class="bg-primary" style="line-height:40px; font-size: 16px; padding-left: 10px"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 今日新增注册用户数: <span id="today_count"></span></p>
          <p class="bg-success" style="line-height:40px; font-size: 16px; padding-left: 10px"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 今日领奖用户总数: <span id="today_reward_user_count"></span></p>
          <!-- <p class="bg-info" style="line-height:40px; font-size: 16px; padding-left: 10px">...</p>
          <p class="bg-warning" style="line-height:40px; font-size: 16px; padding-left: 10px">...</p>
          <p class="bg-danger" style="line-height:40px; font-size: 16px; padding-left: 10px">...</p> -->



        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

{{end}}