{{ define "content_withdraw" }}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">元宝树后台管理</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li>
            <a href="/">信息概览
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="../../action/statistics/">行为日志统计</a>
          </li>
          <li>
            <a href="../../redbag/statistics/">红包发放统计</a>
          </li>
          <li class="active">
            <a href="../../withdraw/card/">提现卡补卡</a>
          </li>
          <li>
            <a href="../../ball/info/">能量球重置</a>
          </li>
        </ul>
      </div>


      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
      
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" aria-label="..." placeholder="用户guid" id="txt_guid">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">金额 <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#" onclick="setMoney(1)">1元</a></li>
                  <li><a href="#" onclick="setMoney(3)">3元</a></li>
                  <li><a href="#" onclick="setMoney(10)" >10元</a></li>
                  <!-- <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li> -->
                </ul>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
            <button id="btn_give" style="margin-top:10px;" type="button" class="btn btn-primary">补卡</button>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

{{end}}