{{ define "content" }}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">元宝树</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Dashboard</a>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li>
            <a href="#">信息概览
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="../../action/statistics/">行为日志统计</a>
          </li>
          <li class="active">
            <a href="../../redbag/statistics/">红包发放统计</a>
          </li>
          <li>
            <a href="#">提现卡补卡</a>
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li>
            <a href="">Nav item</a>
          </li>
          <li>
            <a href="">Nav item again</a>
          </li>
          <li>
            <a href="">One more nav</a>
          </li>
          <li>
            <a href="">Another nav item</a>
          </li>
          <li>
            <a href="">More navigation</a>
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li>
            <a href="">Nav item again</a>
          </li>
          <li>
            <a href="">One more nav</a>
          </li>
          <li>
            <a href="">Another nav item</a>
          </li>
        </ul>
      </div>


      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="row" style="margin-left: 4px;">
          <h3>选择统计时间段:</h3>
          <p style="color: #c40404">日期区间为10天,禁止跨月</p>
          <div class="row">
            <div class="col-md-4">
              <input type="date" class="form-control" id="txt_begin_date">
            </div>
            <div class="col-md-1" style="width: 4%">
              <label>—</label>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" id="txt_end_date">
            </div>
            <div class="col-md-2">
              <input id="btn_redbag" class="btn btn-success" type="button" value="开始统计">
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <h4 class="sub-header">红包金额统计</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>日期</th>
                <th>红包发放总金额(元)</th>
              </tr>
            </thead>
            <tbody id="action_result">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

{{end}}